//Setting some values for colors and backgrounds here to be used below
$blue: #38bcdb !global;
$blue-hover: #2e91a3 !global;
$grey: #a9aaab !global;
$light-grey: #dcdcdc !global;
// $code-background: url("../images/code_hero.jpg");
// $data-background: url("../images/data_hero.jpg");
// $faq-background: url("../images/faq.jpg");
// $about-background: url("../images/about.jpg");
// $featuring-background: url("../images/featuring.jpg");
// $mobile-code-background: url("../images/mobile/code_mobile_hero.jpg");
// $mobile-data-background: url("../images/mobile/data_mobile_hero.jpg");
// $mobile-about-background: url("../images/mobile/about_mobile.jpg");
// $mobile-faq-background: url("../images/mobile/faq_mobile.jpg");
// $mobile-featuring-background: url("../images/mobile/featuring_mobile.jpg");



.App {
  border: solid thick green;
  background-image:url("https://image.freepik.com/free-vector/business-background-design_1300-345.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  border: solid green thick;
}
@mixin carousel-animation($frames, $static, $animation-name: 'carousel'){
  @if unitless($static){
    $static: percentage($static);
  }

  $animating: (100% - $frames * $static)/ ($frames - 1);

  @at-root{
    @keyframes #{$animation-name} {
      @for $i from 0 to $frames {
        $current-frame: $i * $static + $i * $animating;
        $next-frame: ($i + 1) * $static + $i * $animating;
        $halfway-frame: $i * $static / 1% + ($i - 1) * $animating + $animating / 2;

        @if $i > 0 {
          #{$halfway-frame}{
            filter: blur(2px);
          }

        }
        #{$current-frame, $next-frame}{
          transform: translateX($i * -100% / $frames);
          filter: blur(0);
        }
      }
    }
  }
}

.Contact {
  order: 4;
  width: 25vmax;
  height: 12.9vmax;
  margin-right: 8vmax;
  margin-left: 4vmax;
  margin-bottom: 3vmax;
  text-align: center;
  background-color: rgba(220,220,220,.85);
  // border: solid blue thick;
  border-radius: 5px;
  h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 2vmax;
    font-weight: bold;
  }
  p {
    margin-bottom:0;
    font-size: .95vw;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 1.5vmax;
    width: 9vmax;
    margin-left: 10px;
    margin-bottom: .3vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
  }
  select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 1.5vmax;
    width: 6vmax;
    margin-left: 10px;
    margin-bottom: .3vw;
  }
  button {
    color: white;
    font-size: 1.8vmax;
    font-weight: bold;
    border-radius: 6px;
    background-color: $blue;
    width: 24vmax;
    height: 2.7vmax;
    margin-bottom: 0;
  }
  button:hover {
    color: white;
    background-color: $blue-hover;

  }
}

.Form {
  order: 4;
  width: 25vmax;
  height: 8.5vmax;
  margin-right: 8vmax;
  margin-left: 4vmax;
  margin-bottom: 3vmax;
  text-align: center;
  background-color: rgba(220,220,220,.85);
  // border: solid blue thick;
  border-radius: 5px;
  h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 2vmax;
    font-weight: bold;
  }
  p {
    margin-bottom:0;
    font-size: .95vw;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 1.5vmax;
    width: 9vmax;
    margin-left: 10px;
    margin-bottom: .3vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
  }
  select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 1.5vmax;
    width: 6vmax;
    margin-left: 10px;
    margin-bottom: .3vw;
  }
  button {
    color: white;
    font-size: 1.8vmax;
    font-weight: bold;
    border-radius: 6px;
    background-color: $blue;
    width: 24vmax;
    height: 2.7vmax;
    margin-bottom: 0;
  }
  button:hover {
    color: white;
    background-color: $blue-hover;

  }
}

.Header {
  order:1;
  height: 7vmax;
  width: 100vmax;
  background-color: rgba(0,0,0,.8);
  img {
    left: 5;
    position: absolute;
    height: 5vmax;
    margin-left: 5vmax;
    margin-bottom: 1vmax;
    padding: 1vmax;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    right: 0;
    width: 30vmax;
    font-size: .9vmax;
    color: #dcdcdc;
    position: absolute;
    text-align:right;
    padding-right: 2vmax;
    padding-top: 2vmax;
    a {
      color: #38bcbd;
    }
  }
}

.Feature {
  // background-image: $featuring-background;
  // background-color: blue;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50vmax;
  justify-content: space-around;
  @media only screen and (max-aspect-ratio: 16/9) {
    // background-image: $mobile-featuring-background;
    background-color: grey;
    align-items: center;
    height: auto;
  }
}
.lazy-feature {
  // background-image: $mobile-featuring-background;
  background-color: green;
  @media screen and (min-width: 800px) {
    // background-image: $featuring-background;
    background-color: grey;
  }
  background-size: cover;
  h1 {
    margin-top: 0;
    font-size: 3vw;
    width: 100vw;
    padding-top: 4vw;
    text-decoration: underline;
    color: white;
    text-align: center;
  }
  @media only screen and (max-aspect-ratio: 16/9) {
    h1 {
      font-size: 7.5vw;
    }
  }
}

//used an @for here to save some time on making a sepperate call for eatch item;


@for $i from 1 through 7 {
  #feature-#{$i} {
    font-family: 'Roboto Slab';
    color: white;
    order: $i;
    width: 20vw;
    margin: 6vw;
    margin-top:0;
    margin-bottom:2vw;
    text-align: center;
    img {
      width: 6vw;
    }
    @media only screen and (max-aspect-ratio: 16/9) {
      width: 53vmax;
      margin: 0;
      font-size: 3vw;
      img {
        width: 18vw;
      }
    }
   }
}

//I had to give the phone image some individual settings since it's so different

#feature-3 {
  img {
    height: 35vw;
    width: auto;
  }
  p {
    font-size: .8vw;
  }
  @media only screen and (max-aspect-ratio: 16/9) {
    order: 0;
    img {
      height: 45vmax;
    }
    p {
      display:none
    }
  }
}

//The disclaimer which is at the bottom on the mobile version so it's hidden here

#feature-6 {
  display: none;
  font-size: 1.8;
  @media only screen and (max-aspect-ratio: 16/9) {
    display: block;
  }
}

// .Form {
//   width: 100%;
//   height: 45vw;
//   margin: 0;
//   padding: 0;
//   h2 {
//     margin-top: 0;
//     padding-top: 3vw;
//     font-size: 4.5vmax;
//   }
//   p {
//     font-size: 3.2vw;
//     color: darken(grey,10);
//     font-weight: 300;
//   }
//   input {
//     width: 27vmax;
//     height: 6vmax;
//     margin-bottom: 2vmax;
//     font-size: 2.5vmax;
//   }
//   button{
//     width: 85vw;
//     height: 12vw;
//     margin-bottom: 3vw;
//     font-size: 3.2vmax;
//   }
// }

// @mixin cycleBackground($time,$background-array){
//   @for $i from 0 to $background-array.length {
//
//   }
// }

// .zero {
//   // @include carousel-animation(  $frames: 5, $static: 17.5%, $animation-name: "carousel_1");
//   height: 700px;
//   border: solid green thick;
// }
// @include carousel-animation(2, 17.5%, 'carousel_1')
