
@mixin cycleBackground($time,$background-array){
  @setInterval
}
.zero {
  border: solid green thick;
  // background-image:url(http://placehold.it/1920x1080);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  border: solid green thick;
}
